@import "primeflex/primeflex.css";/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Fix 100% magasság */
  overflow: hidden; /* Megakadályozza a fő ablak görgetését */
  font-family: 'Inter', sans-serif;
}
